.nombre-autoridad {
    color: #00772e;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.cargo-autoridad {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.lista-funciones,
.lista-regidores {
    margin-top: 15px;
    padding-left: 20px;
}

.lista-funciones li,
.lista-regidores li {
    margin-bottom: 8px;
    color: #444;
    position: relative;
}

.lista-funciones li::before,
.lista-regidores li::before {
    content: "✔";
    color: #00772e;
    font-weight: bold;
    margin-right: 8px;
}
